@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
  border: none;
  background: none;
}

.section-1 {
  width: 100%;
  height: 85vh;
  background-image: url(../../img/background/page3_back.png);
  background-size: cover;
  background-position: center;
}
.section-1 header {
  width: 80%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  align-items: center;
}
.section-1 header .header_left {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.section-1 header .header_left .nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.section-1 header .header_left .nav a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #424551;
}
.section-1 header .header_left .nav a:hover {
  color: #FF5A30;
}
.section-1 header .header_right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 header .header_right .phone, .section-1 header .header_right .chat {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 header .header_right .phone p, .section-1 header .header_right .chat p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #424551;
}
.section-1 header .header_right .phone a, .section-1 header .header_right .chat a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-1 .servicev2_content {
  width: 80%;
  margin: 80px auto;
}
.section-1 .servicev2_content .nav_servicev2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.section-1 .servicev2_content .nav_servicev2 a:nth-child(1) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-1 .servicev2_content .nav_servicev2 a:nth-child(3) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-1 .servicev2_content .nav_servicev2 a:nth-child(5) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.section-1 .servicev2_content .nav_servicev2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.section-1 .servicev2_content h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 24px;
}
.section-1 .servicev2_content p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
}

.section-2 {
  width: 100%;
  height: 70vh;
}
.section-2 .offer {
  width: 80%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.section-2 .offer .offer_text {
  width: 42%;
}
.section-2 .offer .offer_text h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.section-2 .how_do {
  width: 80%;
  margin: 120px auto;
}
.section-2 .how_do h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.section-2 .how_do .howdo_text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-2 .how_do .howdo_text .column {
  width: 25%;
}
.section-2 .how_do .howdo_text .column .number {
  width: 100%;
  display: flex;
  align-items: center;
}
.section-2 .how_do .howdo_text .column .number .circle11 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .howdo_text .column .number .circle11 .circle12 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .howdo_text .column .number .circle11 .circle12 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 6px;
}
.section-2 .how_do .howdo_text .column .number .circle11:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .howdo_text .column .number .circle11:hover .circle12 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .howdo_text .column .number .circle11:hover .circle12 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .howdo_text .column .number .circle21 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .howdo_text .column .number .circle21 .circle22 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .howdo_text .column .number .circle21 .circle22 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 6px;
}
.section-2 .how_do .howdo_text .column .number .circle21:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .howdo_text .column .number .circle21:hover .circle22 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .howdo_text .column .number .circle21:hover .circle22 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .howdo_text .column .number .circle31 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .howdo_text .column .number .circle31 .circle32 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .howdo_text .column .number .circle31 .circle32 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 6px;
}
.section-2 .how_do .howdo_text .column .number .circle31:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .howdo_text .column .number .circle31:hover .circle32 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .howdo_text .column .number .circle31:hover .circle32 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .howdo_text .column .number .circle41 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .howdo_text .column .number .circle41 .circle42 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .howdo_text .column .number .circle41 .circle42 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 6px;
}
.section-2 .how_do .howdo_text .column .number .circle41:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .howdo_text .column .number .circle41:hover .circle42 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .howdo_text .column .number .circle41:hover .circle42 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .howdo_text .column h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
  margin-bottom: 8px;
}
.section-2 .how_do .howdo_text .column p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.section-2 .how_do .number {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}
.section-2 .how_do .number img {
  margin: 0 -1% 0 -1%;
}
.section-2 .how_do .number .circle11 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .number .circle11 .circle12 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .number .circle11 .circle12 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 14px;
}
.section-2 .how_do .number .circle21 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .number .circle21 .circle22 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .number .circle21 .circle22 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 14px;
}
.section-2 .how_do .number .circle31 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .number .circle31 .circle32 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .number .circle31 .circle32 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 14px;
}
.section-2 .how_do .number .circle41 {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px white;
}
.section-2 .how_do .number .circle41 .circle42 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.section-2 .how_do .number .circle41 .circle42 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #D7DADD;
  padding: 14px;
}
.section-2 .how_do .number .circle11:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .number .circle11:hover .circle12 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .number .circle11:hover .circle12 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .number .circle21:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .number .circle21:hover .circle22 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .number .circle21:hover .circle22 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .number .circle31:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .number .circle31:hover .circle32 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .number .circle31:hover .circle32 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .number .circle41:hover {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: solid 16px rgba(250, 125, 0, 0.06);
}
.section-2 .how_do .number .circle41:hover .circle42 {
  width: 84px;
  height: 84px;
  background: rgba(250, 125, 0, 0.12);
  border-radius: 50%;
  transition-duration: 600ms;
}
.section-2 .how_do .number .circle41:hover .circle42 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  color: #FF5A30;
  padding: 14px;
  transition-duration: 1s;
}
.section-2 .how_do .howdo_text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-2 .how_do .howdo_text .column {
  width: 23%;
  margin-left: 2%;
}
.section-2 .how_do .howdo_text .column h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
  margin-bottom: 8px;
}
.section-2 .how_do .howdo_text .column h3 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.section-3 {
  width: 100%;
  background: #1E212C;
}
.section-3 .benefits {
  width: 100%;
  height: 85vh;
  padding-top: 80px;
}
.section-3 .benefits h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .benefits p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 24px;
}
.section-3 .benefits .benefit_boxes {
  width: 80%;
  height: 188px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
}
.section-3 .benefits .benefit_boxes .main_boxes {
  width: 27%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.section-3 .benefits .benefit_boxes .main_boxes h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
}
.section-3 .benefits .benefit_boxes .main_boxes p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}

.section-4 {
  width: 100%;
  height: 120vh;
}
.section-4 .title_project {
  width: 75%;
  position: relative;
  margin: 120px auto;
}
.section-4 .title_project h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-4 .title_project .section4_arrows {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.section-4 .title_project .section4_arrows button:nth-child(1) {
  position: absolute;
  top: 75%;
  right: 4%;
}
.section-4 .title_project .section4_arrows button:nth-child(2) {
  position: absolute;
  top: 75%;
  right: 0;
}
.section-4 .title_project .section4_arrows button:nth-child(1):hover {
  background: #FF5A30;
  border-radius: 50%;
  padding: 11px;
  position: absolute;
  top: 60%;
  right: 4%;
}
.section-4 .title_project .section4_arrows button:nth-child(2):hover {
  background: #FF5A30;
  border-radius: 50%;
  padding: 11px;
  position: absolute;
  top: 60%;
  right: -2%;
}
.section-4 .section4_sliderss {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.section-4 .section4_sliderss div .slide {
  width: 90%;
  height: 60vh;
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  margin: auto;
  margin: 15px;
}
.section-4 .section4_sliderss div .slide img {
  width: 100%;
}
.section-4 .section4_sliderss div .slide h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  margin-top: 16px;
}
.section-4 .section4_sliderss div .slide p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
  margin-top: 4px;
}
.section-4 .section4_sliderss div .slide a {
  display: none;
}
.section-4 .section4_sliderss div .slide:hover {
  width: 90%;
  height: 60vh;
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  margin: auto;
  margin: 15px;
}
.section-4 .section4_sliderss div .slide:hover img {
  height: 60%;
}
.section-4 .section4_sliderss div .slide:hover h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  margin-top: 16px;
}
.section-4 .section4_sliderss div .slide:hover p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
  margin-top: 4px;
}
.section-4 .section4_sliderss div .slide:hover a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  width: 172px;
  height: 44px;
  margin: 24px auto;
  display: flex;
  padding: 0px 30px 0px 30px;
}
.section-4 .explore {
  width: 35%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}
.section-4 .explore p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-4 .explore button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5A30;
  border-radius: 4px;
  padding: 0px 32px 0px 32px;
}

.section-7 {
  width: 100%;
  height: 115vh;
  background-size: cover;
  background-position: center;
  background-image: url(../../img/background/sec7.jpg);
  align-items: center;
  padding-top: 80px;
}
.section-7 .lastforms {
  width: 35%;
  height: 90%;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  margin: auto;
  margin-left: 55%;
  padding: 2%;
}
.section-7 .lastforms h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #1E212C;
  margin-bottom: 24px;
}
.section-7 .lastforms .name, .section-7 .lastforms .phone, .section-7 .lastforms .email {
  width: 90%;
  margin: auto;
}
.section-7 .lastforms .name input, .section-7 .lastforms .phone input, .section-7 .lastforms .email input {
  background: #F4F5F7;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  padding-left: 4%;
}
.section-7 .lastforms .name p, .section-7 .lastforms .phone p, .section-7 .lastforms .email p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-7 .lastforms .message {
  width: 90%;
  margin: auto;
}
.section-7 .lastforms .message input {
  height: 66px;
  width: 100%;
  background: #F4F5F7;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 4%;
}
.section-7 .lastforms .message p {
  margin-bottom: 8px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-7 .lastforms p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  width: 90%;
  margin: auto;
}
.section-7 .lastforms p input {
  margin-right: 2%;
}
.section-7 .lastforms button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5A30;
  border-radius: 4px;
  width: 174px;
  height: 44px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

footer {
  width: 100%;
  background: #1E212C;
  padding-top: 80px;
  height: 83vh;
}
footer .footer_top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 49px;
}
footer .footer_top .top_left {
  width: 45%;
}
footer .footer_top .top_left .logo {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
footer .footer_top .top_left .logo .logo_social {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .footer_top .top_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
footer .footer_top .top_right {
  width: 45%;
}
footer .footer_top .top_right h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 24px;
}
footer .footer_top .top_right .email_footer {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}
footer .footer_top .top_right .email_footer input {
  width: 70%;
  height: 44px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding-left: 4%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
footer .footer_top .top_right .email_footer button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5A30;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  align-items: center;
  padding: 0px 32px;
  margin-left: -2px;
}
footer .footer_top .top_right p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
}
footer .footer_bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
footer .footer_bottom .bottom_begin {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
footer .footer_bottom .bottom_begin .head_office {
  width: 35%;
  margin-right: 2%;
}
footer .footer_bottom .bottom_begin .head_office h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}
footer .footer_bottom .bottom_begin .head_office p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 4px;
}
footer .footer_bottom .bottom_begin .head_office p a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
}
footer .footer_bottom .bottom_begin .whoweare {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}
footer .footer_bottom .bottom_begin .whoweare h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}
footer .footer_bottom .bottom_begin .whoweare a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 4px;
}
footer .footer_bottom .bottom_begin .experience {
  width: 15%;
  display: flex;
  flex-direction: column;
}
footer .footer_bottom .bottom_begin .experience h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}
footer .footer_bottom .bottom_begin .experience a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 4px;
}
footer .footer_bottom .bottom_end {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
footer .footer_bottom .bottom_end .end_left {
  width: 50%;
  display: flex;
}
footer .footer_bottom .bottom_end .end_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
footer .footer_bottom .bottom_end .end_left p img {
  margin: 0 5px 0 5px;
}
footer .footer_bottom .bottom_end .end_right {
  width: 11%;
  display: flex;
  justify-content: space-between;
}
footer .footer_bottom .bottom_end .end_right a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 400%;
  color: #FFFFFF;
}
footer .footer_bottom .bottom_end .end_right button {
  background: #FF5A30;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.section-5 {
  width: 100%;
}
.section-5 .price {
  width: 80%;
  margin: auto;
}

/*# sourceMappingURL=servicev2.css.map */
